/* font section */
@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.3a18e64a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Light.7a5673aa.woff) format('woff');
    font-weight: 300;
    font-style: 'normal';
    font-display: 'swap';
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.80fda27a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Regular.60b215ba.woff) format('woff');
    font-weight: 400;
    font-style: 'normal';
    font-display: 'swap';
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.f8e2739a.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Medium.20fc288a.woff) format('woff');
    font-weight: 500;
    font-style: 'normal';
    font-display: 'swap';
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.ebb56aba.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Bold.a573679a.woff) format('woff');
    font-weight: 700;
    font-style: 'normal';
    font-display: 'swap';
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.f44ae4ea.woff2) format('woff2'), url(https://abs.twimg.com/responsive-web/client-web/Chirp-Heavy.d70ec7ca.woff) format('woff');
    font-weight: 800;
    font-style: 'normal';
    font-display: 'swap';
}

@font-face {
    font-family: TwitterChirpExtendedHeavy;
    src: url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff2) format('woff2'), url(https://abs.twimg.com/fonts/v1/chirp-extended-heavy-web.woff) format('woff');
    font-weight: 800;
    font-style: 'normal';
    font-display: 'swap';
}

* {
    font-family: TwitterChirp, -apple-system, 'Segoe UI', sans-serif !important;
}

/* font section end */

/* color scheme definition - by flaf */
/*these colors are based on the color scheme used by bluesky*/
html.theme--light {
    --background-color: #FFFFFF;
    --trends-background-color: #ffffff;
    --border-color: rgb(212, 219, 226);
    --hover-background-color: rgba(241, 243, 245, 1);
    --font-color: #000;
    --span-color: rgb(66, 87, 108);

    --poll-background-color: #00000005;
    --poll-border-color: #828282;
    --poll-text-color: black;
}

html.theme--dim {
    --background-color: rgb(22, 30, 39);
    --trends-background-color: #00000009;
    --border-color: rgba(255, 255, 255, 0.14);
    --hover-background-color: rgba(30, 41, 54, 1);
    --font-color: #fff;
    --span-color: rgb(174, 187, 201);

    --poll-background-color: #ffffff08;
    --poll-border-color: #fcfcfc2e;
    --poll-text-color: rgb(255, 255, 255);
}

html.theme--dark {
    --background-color: #000000;
    --trends-background-color: #000000;
    --border-color: rgba(255, 255, 255, 0.14);
    --hover-background-color: rgba(20, 27, 35, 1);
    --font-color: #fff;
    --span-color: rgb(140, 158, 178);
    
    --poll-background-color: rgba(255, 255, 255, 0.089);
    --poll-border-color: #ffffff00;
    --poll-text-color: rgb(255, 255, 255);
}


/* item do canto */
.r-pm9dpa {
    background-color: var(--background-color) !important;
    border: 1px solid var(--border-color) !important;
    margin: 10px !important;
    overflow: hidden !important;
    padding: 11px !important;
    box-sizing: content-box !important;
    border-radius: 8px !important;
}

/* logo laranja */
.r-33ulu8 div svg path {
    fill: #FF9325 !important;
}

/* ^ mudar isso depois, ele da override na cor das opções na parte do perfil, depois mudar para afetar apenas a logo - flaf/*

/* transição nos posts */
/*.r-1ye8kvj .css-175oi2r[class="css-175oi2r r-1loqt21 r-1otgn73"] {
    transition: all 0.2s ease !important;
}*/
/* ^ nao esta sendo usado - flaf*/

/*.r-1ye8kvj .css-175oi2r[class="css-175oi2r r-1loqt21 r-1otgn73"]:nth-child(1n):hover {
    background-color: var(--hover-background-color) !important;
} */
/* ^ sobrescrevendo os gifs ???, nota para mim mesmo do futuro ajeitar para poder botar o hover nos posts - flaf */


/* cor da borda */
.r-1ye8kvj {
    border-color: var(--border-color) !important;
}

/* outros */
div[data-testid="profilePager-selector"] div {
    font-weight: 200 !important;
}

button[aria-label="Novo post"],
button[aria-label="New post"] {
    background: #1d9bf0 !important;
    padding: 14px 42px !important;
}

.r-c4unlt {
    left: calc(-590px + 50vw) !important;
}

div[class="css-175oi2r r-1awozwy r-1llaxt6 r-13awgt0 r-18u37iz r-11f147o r-3o4zer"] {
    padding: 14px 22px !important;

}

/* o que isso faz? - flaf */
div[class="background-color: rgb(20, 27, 35);"] {
    background: rgb(32 35 39) !important;
    --placeholderTextColor: hsl(0deg 0% 100% / 31%) !important;
}

.css-175oi2r div[class="css-175oi2r r-1la3zjv r-3o4zer"] div:last-child::after {
    content: "· BetterBluesky <3";
    color: #FF9325;
}


/* trends */

.trends ul::-webkit-scrollbar {
    width: 5px;
}

.trends ul::-webkit-scrollbar-track {
    background-color: transparent;
}

.trends ul::-webkit-scrollbar-thumb {
    background: #26282b;
    border-radius: 10px;
    transition: all 2s ease-in-out;
}

.r-196lrry .r-5kkj8d {
    /* remove a borda em cima dos trends */
    border-top: none;
}

div[class="css-175oi2r r-qklmqi r-5kkj8d r-le4sbl r-1444osr"] {
    border-top: none;
}

/* concerta div do canto inferior direito abaixo do trends nao mudando de cor (e texto)*/
div [class="css-175oi2r r-13awgt0 r-1rnoaur r-1la3zjv r-3o4zer r-1ipicw7"] {
    background-color: var(--background-color) !important;
}

.trends {
    background: var(--trends-background-color);
    width: 100%;
    border: 1px solid var(--border-color) !important;
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--font-color) !important;
}

.trends a {
    cursor: pointer !important;
}

.trends .content {
    display: flex;
    flex-direction: column;
}

.trends ul {
    padding: 0;
    max-height: 400px;
    overflow: auto
}

.trends li a:hover {
    background-color: var(--hover-background-color);
}

.trends li .content span {
    color: var(--span-color);
    font-size: 0.8rem;
}

.trends .description {
    margin-left: 15px;
    font-size: 0.8rem;
}

.trends a {
    text-decoration: none;
}

.trends .description a {
    text-decoration: none;
    color: rgb(140, 182, 255);
}

.trends .description a:hover {
    text-decoration: underline;
}

.trends li .content .trend {
    font-size: 1.1rem;
    color: var(--font-color);
    max-width: 216px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trends .counter {
    font-size: 1.2rem;
    color: var(--font-color);
    margin-left: 10px;
    margin-right: 15px;
    width: 25px;
    text-align: right;
}

.trends h2 {
    margin: 0;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.trends li a {
    list-style: none;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    transition: all .2s ease;
    cursor: pointer;
}

.trends .loadingtrends {
    margin-left: 12px;
    color: var(--span-color);
}

.trends .apoie {
    border-top: 1px solid var(--border-color);
    margin: 0 10px;
    text-align: left;
    padding-top: 10px;
    display: block;
    margin-top: 6px;
    font-size: 0.8rem;
    color: var(--font-color);
}

.trends .apoie a {
    color: #FF9325;
}

.trends .apoie a:hover {
    text-decoration: underline;
}

.trends .sourcecode {
    margin: 0 10px;
    text-align: left;
    padding-top: 10px;
    display: block;
    margin-top: 4px;
    font-size: 0.8rem;
    color: var(--font-color);
}

.trends .sourcecode a {
    color: #FF9325;
}

.trends .sourcecode a:hover {
    text-decoration: underline;
}

.trendmessage {
    margin-top: 7px;
    margin-bottom: 5px;
}

.beta {
    background-color: rgb(109, 109, 255);
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 4px 7px;
    color: #fff;
}


.betterblueskyvideo {
    max-width: 100%;
    max-height: 300px;
    margin: 5px;
}

#betterblueskyvideobutton,
.refresh-page {
    background-color: transparent;
    border: 1px solid #FF9325;
    color: #FF9325;
    border-radius: 7px;
    padding: 5px 14px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#betterblueskyvideobutton:hover{
    background-color: #FF9325;
    color: black;
}


#betterblueskypollbutton {
    background-color: transparent;
    border: 1px solid #FF9325;
    color: #FF9325;
    border-radius: 7px;
    padding: 5px 14px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}


#betterblueskypollbutton:hover{
    background-color: #FF9325;
    color: black;
}



#userlikedbutton {
    background-color: transparent;
    color: #FF9325;
    border: none;
    padding: 0px;
    cursor: pointer;
}

#userlikedbutton:hover {
    color: #ff8000;
}

#preload svg path {
    fill: #FF9325 !important;
}

#preload svg::after {
    content: 'BetterBluesky by @nemtudo.me' !important;
    color: #FF9325 !important;
}

/* custom buttons hover color - flaffy */

[data-testid="replyBtn"]:hover {
    background-color: rgba(0, 123, 255, 0.2) !important;
    transition: background-color 0.2s ease !important;
}

[data-testid="replyBtn"]:hover svg path,
[data-testid="replyBtn"]:hover .css-146c3p1 {
    color: #007bff !important;
    fill: #007bff !important;
    transition: color 0.2s ease, fill 0.2s ease !important;
}


div[id^="radix-"]:not([data-radix-menu-content]):hover {
    background-color: rgba(40, 167, 69, 0.2) !important;
    transition: background-color 0.2s ease !important;
}

div[id^="radix-"]:not([data-radix-menu-content]):hover svg path,
div[id^="radix-"]:not([data-radix-menu-content]):hover .css-146c3p1 {
    color: #28a745 !important;
    fill: #28a745 !important;
    transition: color 0.2s ease, fill 0.2s ease !important;
}

[data-testid="likeBtn"]:hover {
    background-color: rgba(236, 72, 153, 0.2) !important;
    transition: background-color 0.2s ease !important;
}

[data-testid="likeBtn"]:hover svg path,
[data-testid="likeBtn"]:hover .css-146c3p1 {
    color: #ec4899 !important;
    fill: #ec4899 !important;
    transition: color 0.2s ease, fill 0.2s ease !important;
}

/* preferences */

.pugpup {
    position: fixed;
    top: 50%;
    left: 50%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 90vw;
    width: 17.5em;
    max-height: 90vh;
    overflow-y: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.bb-settings-button {
    display: block;
    font-weight: 400;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.bb-settings-icon {
    display: none;
}

.bb-settings-text {
    color: #ff8300;
    font-size: 1.2rem;
    padding-right: 2.5rem;
    max-width: 10rem;
}

.bb-settings-button:hover {
    background-color: var(--hover-background-color);
}

.preference-text {
    color: var(--font-color);
    grid-column: 1;
}

.pugbox {
    grid-column: 2;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}

@media (max-width: 1300px) {
    .bb-settings-button {
        display: none;
    }

    .bb-settings-icon {
        font-weight: 400;
        background-color: var(--background-color);

        border: none;
        cursor: pointer;
        display: block;

        font-size: 1.8rem;
        padding: 10px;
        width: 2.2em;

        padding-left: 12px;
        padding-right: 12px;
    }

    .bb-settings-icon:hover {
        background-color: var(--hover-background-color);
    }
}

/* polls */

.betterbluesky_poll{
    background-color: var(--poll-background-color);
    color: var(--poll-text-color);
    border: 1px solid var(--poll-border-color);
    width: fit-content;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.betterbluesky_poll .betterbluesky_poll_title{
    margin-bottom: 20px;
}

.betterbluesky_poll .betterbluesky_poll_options{
    display: flex;
    flex-direction: column;
}

.betterbluesky_poll .betterbluesky_poll_options .betterbluesky_poll_option{
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #6e70fd;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: left;
    display: flex;
    align-items: center;
}

.betterbluesky_poll_option_text{
    margin-right: 10px;
    pointer-events: none;
    color: var(--poll-text-color);
}

.betterbluesky_poll .betterbluesky_poll_options .betterbluesky_poll_option[option_selected="true"]{
    background-color: #6e70fd;
}

.betterbluesky_poll[voted="false"] .betterbluesky_poll_options .betterbluesky_poll_option:hover{
    background-color: #6e70fd;
}

.betterbluesky_poll_option[option_selected="true"] .betterbluesky_poll_option_votedicon, .betterbluesky_poll[voted="true"] .betterbluesky_poll_votecount{
    display: block;
}

.betterbluesky_poll_option_votedicon{
    width: 15px;
    filter: invert();
    display: none;
    margin-right: 10px;
}

.betterbluesky_poll_votecount{
    margin-left: auto;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.685);
    display: none;
}

.betterbluesky_pollnotfound{
    background-color: var(--poll-background-color);
    border: 1px solid var(--poll-border-color);
    padding: 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    margin: 5px;
    color: var(--poll-text-color);
}

.betterbluesky_pollnotfound_description{
    font-size: 0.8rem;
}

.betterbluesky_pollnotfound a{
    text-decoration: none;
    color: #FF9325;
}

.betterbluesky_pollnotfound a:hover{
    text-decoration: underline;
}

.betterbluesky_poll_bybetterbluesky{
    font-size: 0.8rem;
    margin-top: 15px;
    opacity: 0.8;
}

.betterbluesky_poll_bybetterbluesky a{
    color: #FF9325;
    text-decoration: none;
}

.betterbluesky_poll_bybetterbluesky a:hover{
    text-decoration: underline;
}